body {
    background: #ffffff;
    height: 100%;
    margin: 0;
}

header {
    background: #ff7f50;
    width: 100%;
}

#header-h1 {
    color: white;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.paddingLeft {
    padding-left: 5%;
}

.navigation {
    padding-left: 5%;
    height: 50px;
    background: #333333;
}

a {
    color: #f4f4f4;
    text-decoration: none;

}

.navigationDiv {
    padding-top: 15px;
}

.navigationSpan2 {
    color: #f4f4f4;
    text-decoration: none;
    padding-left: 20px;
}

.imgBackground {
    width: 100%;
    height: 300px;
    position: relative;
    text-align: center;
    color: white;
}

.imgBackground img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.textInImg {
    font-weight: bold;
    width: 80%;
    font-family: 'Glegoo', serif;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left {
    float: left;
    width: 60%;
    height: 280px;
    background: #f4f4f4;
    padding-top: 30px;
}

.leftDiv {
    background: #f4f4f4;
    width: 80%;
    margin-left: 15%;
}

.h2InLeftDiv {
    font-size: 30px;
    color: #555555;
}

.pInLeftDiv {
    font-size: 18px;
    color: #555555;
    line-height: 1.5;
}

#sidebar {
    float: right;
    width: 40%;
    height: 300px;
    background: #f4f4f4;
    padding-top: 10px;
}

.rightDiv {
    background: #333333;
    width: 50%;
    margin-left: 15%;
}

.pInRightDiv {
    padding: 20px;
    font-size: 20px;
    color: #ffffff;
    line-height: 1.5;
}

footer {
    background: #333333;
    height: 553px;
}

.textInFooter {
    font-weight: bold;
    font-family: 'Glegoo', serif;
    font-size: 30px;
    position: absolute;
    top: 85%;
    left: 38%;
    color: #ffffff;
}

@media (max-width: 1309px) {
    .pInRightDiv {
        padding: 20px;
        font-size: 17px;
        color: #ffffff;
        line-height: 1.5;
    }
}
@media (max-width: 1071px) {
    .textInImg {
        font-weight: bold;
        width: 80%;
        font-family: 'Glegoo', serif;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .textInFooter {
        font-family: 'Glegoo', serif;
        font-size: 18px;
        position: absolute;
        top: 90%;
        left: 38%;
        color: #ffffff;
    }
}
@media (max-width: 895px) {
    .pInRightDiv {
        padding: 20px;
        font-size: 16px;
        color: #ffffff;
        line-height: 1.5;
    }
    .rightDiv {
        background: #333333;
        width: 80%;
        margin-left: 15%;
    }
    .left {
        float: left;
        width: 60%;
        height: 310px;
        background: #f4f4f4;
        padding-top: 0;
    }
}
@media (max-width: 737px) {
    .left {
        float: left;
        width: 60%;
        height: 310px;
        background: #f4f4f4;
        padding-top: 0;
    }
    .textInFooter {
        font-family: 'Glegoo', serif;
        font-size: 16px;
        position: absolute;
        top: 90%;
        left: 38%;
        color: #ffffff;
    }
    .pInLeftDiv {
        margin-top: 0;
        font-size: 15px;
        color: #555555;
        line-height: 1.5;
    }
    .h2InLeftDiv {
        font-size: 30px;
        color: #555555;
        margin-bottom: 15px;
    }
}